<!DOCTYPE html>
<html>
<head>
<title>Web Check-in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'checkinstyle.css' %}">
</head>
<body>
<div class="container">
  <h1><b>Web check-in</h1></b>
  <b><p>Web Checkin for passengers is available 48 hrs to 60 mins before domestic flight departure, and 24 hrs to 75 mins before international flight departure.</p>
  <p>Airport Check-in at counter is available 60 mins before domestic flight departure, and 75 mins before international flight departure.</p>
  <p><strong>Please note:</strong> Only personalized check-in assistance at the airport applicable for codeshare bookings.</p></b>
  <input type="text" placeholder="PNR/Booking Reference" />
  <input type="text" placeholder="Email/Last Name" />
  <button><b>Check-in</b></button>
</div>
</body>
</html>