<!-- create_flight.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create New Flight</h1>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_airline">Airline</label>
                {{ form.airline }}
            </div>
            <div class="form-group">
                <label for="id_flight_number">Flight Number</label>
                {{ form.flight_number }}
            </div>
            <div class="form-group">
                <label for="id_departure">Departure</label>
                {{ form.departure }}
            </div>
            <div class="form-group">
                <label for="id_arrival">Arrival</label>
                {{ form.arrival }}
            </div>
            <div class="form-group">
                <label for="id_departure_time">Departure Time</label>
                {{ form.departure_time }}
            </div>
            <div class="form-group">
                <label for="id_arrival_time">Arrival Time</label>
                {{ form.arrival_time }}
            </div>
            <div class="form-group">
                <label for="id_price">Price</label>
                {{ form.price }}
            </div>
            <button type="submit" class="btn btn-primary">Save Flight</button>
        </form>
        <a href="{% url 'portalapp:admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </div>
</body>
</html>
