<!-- delete_flight.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Flight</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Delete Flight</h1>
        <hr>
        <p>Are you sure you want to delete the flight "{{ flight }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
